canvas {
  background: #3e933e;
}

.border {
  border: 20px solid #c09002;
}

body {
  background: #4f4d4d;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.logo {
  width: 300px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.score {
  margin-left: 20px;
  font-size: 30px;
  padding: 20px;
  background: black;
  color: #c90808;
  border: 0;
  border-radius: 20px;
}

.button, .mobile {
  font-size: 30px;
  padding: 20px;
  background: black;
  color: #fffb00;
  border: 0;
  border-radius: 20px;
  margin-left: 20px;
}

.mobile {
  margin-bottom: 10px;
}

path, circle {
  fill: black;
  stroke: white;
  stroke-width: 2;
  width: 150px;
}

.control {
  display: none;
  flex-direction: column;
  align-items: center;
}